<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        {% if user.is_authenticated %}
            <li><a href="{% url 'users:logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'users:login' %}">Login</a></li>
            <li><a href="{% url 'users:signup' %}">Signup</a></li>
        {% endif %}
        <!--들어오는 칸-->
        {% block content %}
        <!--재사용함을 알림-->
        {% endblock content %}
    </body>
</html>