@import "./reset.css";

:root {
    --gray1: lightgray;
    --gray2: gray;
    --main-border: 1px solid var(--gray2);
}

.header_container {
    display: flex;
    height: 2rem;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    border-bottom: var(--main-border);
}

.profile {
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem;
}

.profile_top {
    display: flex;
    margin-bottom: 1rem;
}

.profile_img {
    margin-right: 1rem;
}

.profile_img > img {
    width: 5rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
    border: var(--main-border);
    padding: 3px;
}

.profile_right {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.profile_username {
    font-size: 1.5rem;
}

.profile_button > button {
    width: 100%;
    background-color: white;
    border: var(--main-border);
    padding: .3rem 0;
    border-radius: 5px;
}

.story__container {
    padding: 1rem;
    display: flex;
    overflow: auto;
}

.story__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.story__img > img {
    width: 3.5rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    border: var(--main-border);
    padding: 3px;
}

.content__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3px;
}

.content_photo > img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.footer__container {
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 0.5rem 0;
}

.footer__container > div {
    cursor: pointer;
}

.footer__item {
    font-size: 1.5rem;
}

.footer__image{
    height: 100%;
}

.footer__image > img {
    width: 24px;
    height: 24px;
    padding: 2px;
    border: var(--main-border);
    border-radius: 100%;
}

header {
    position: sticky;
    top: 0;
    background-color: white;
}

footer {
    position: sticky;
    bottom: 0;
}